AWAY DATA "Data\\Away.png"
DND DATA "Data\\DND.png"
FREEFORCHAT DATA "Data\\FreeForChat.png"
INVISIBLE DATA "Data\\Invisible.png"
MESSAGE DATA "Data\\Message.png"
OFFLINE DATA "Data\\Offline.png"
ONLINE DATA "Data\\Online.png"
SECURE DATA "Data\\Secure.png"
XA DATA "Data\\XA.png"
